@media screen and (min-width: 992px) {
 .footer {
  grid-template-columns: repeat(4,25%) !important;
 }

 h2{
  font-size: 40px;
 }
}

@media screen and (min-width: 768px) {
 .footer {
  grid-template-columns: repeat(2, 50%);
 }

}

@media screen and (max-width: 1075px) {
 #airplaneimg {
  display: none;
 }
 #third {
  background-image: url('../images//plane.png');
  background-repeat: no-repeat;
  background-position: center;
 }
 #text {
  width: 100%;
  margin-top: 10px;
 }
}

@media screen and (max-width: 767.98px) {
#destination-images {
 flex-direction: column;
}
.countries {
 display: flex;
 width: 100%;
 justify-content: center;
}

.countries li {
 padding: 10px;
}
.footerlinks{
  /* margin-bottom: 15px; */
  position: static;
}

}

@media screen and (max-width: 576px) {
 .box {
  width: 100%;
 }
}
/* 
567px

768px

992px


*/

